{% extends "base.html" %} {% block content %}
<div class="container my-4">
  <h1 class="mb-3">{{ product.nombre }}</h1>
  <p>{{ product.descripcion }}</p>
  <p><strong>Precio:</strong> ${{ product.precio }}</p>
  <div class="mt-4">
    <a
      href="{{ url_for('edit_product', product_id=product.id) }}"
      class="btn btn-warning me-2"
      >Editar</a
    >
    <a
      href="{{ url_for('delete_product', product_id=product.id) }}"
      class="btn btn-danger"
      >Eliminar</a
    >
  </div>
</div>
{% endblock %}
